@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.About-Me-bg-container {
    background-color: #323f4b;

}

.About-Me-container-sub-heading {
    color: #cced00;
    font-size: 30px;
    font-weight: bold;
}

.About-Me-heading {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.About-Me-image {

    width: 100%;
}

.About-Me-container-description {
    color: #9aa5b1;
    font-size: 23px;
    font-weight: 450;
}

.Skills-Sections-bg-container {
    background-color: #1f2933;
}

.Skills-Sections-card {

    background-color: #323f4b;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.Skills-Sections-card-image {
    height: 70px;
    width: 70px;
}

.Skills-Sections-card-heading {
    color: #fff;
    font-size: 20px;
}